// Copyright (C) 2010-2024 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


WK_SRCROOT=$(SRCROOT)/../../Source/WebKit

WK_DOWNSTREAM_SWIFT_INCLUDE_PATHS = SWIFT_INCLUDE_PATHS = $(WK_SRCROOT)/Modules/Internal $(WK_SRCROOT)/Platform/spi/visionos $(WK_SRCROOT)/Platform/spi/ios $(WK_SRCROOT)/Platform/spi/Cocoa $(WK_SRCROOT)/Platform/spi/Cocoa/Modules  $(WK_SRCROOT)/Platform/Cocoa  $(WK_SRCROOT)/Shared/API/Cocoa   $(WK_SRCROOT)/UIProcess/API/Cocoa  $(SRCROOT)/../../Source/WebKit/Shared/Cocoa $(SRCROOT)/../../Source/WebKit/Platform  $(SRCROOT)/../../Source/WebKit/Platform/IPC $(BUILT_PRODUCTS_DIR)/DerivedSources/WebKit $(WK_SRCROOT)/UIProcess $(WK_SRCROOT)/Shared/API $(WK_SRCROOT) $(WK_SRCROOT)/UIProcess/API $(WK_SRCROOT)/NetworkProcess $(WK_SRCROOT)/UIProcess/WebsiteData $(WK_SRCROOT)/UIProcess/Cocoa  $(WK_SRCROOT)/Shared/WebsiteData $(WK_SRCROOT)/NetworkProcess/Downloads  $(WK_SRCROOT)/UIProcess/Authentication $(WK_SRCROOT)/Shared/Authentication $(WK_SRCROOT)/NetworkProcess/Classifier;
